/* =======================================
 * COLOR
 /* ======================================= */
/* =======================================
  * OTHERS
  /* ======================================= */
/* =======================================
  * RESPONSIVE MARK
  /* ======================================= */
/* USAGE */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=swap");
#realme-7-teasing .img-bg-cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

@media only screen and (max-width: 768px) {
  .mb-hide {
    display: none !important; } }

.mb-show {
  display: none; }
  @media only screen and (max-width: 768px) {
    .mb-show {
      display: block !important; } }

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy Regular.otf");
  font-weight: 400; }

@font-face {
  font-family: "Agula";
  src: url("../font/SVN-Aguda Regular.otf");
  font-weight: 400; }

@font-face {
  font-family: "Agula";
  src: url("../font/SVN-Aguda Bold.otf");
  font-weight: 600; }

@font-face {
  font-family: "Gemunu";
  src: url("../font/gemunu-libre.semibold.otf");
  font-weight: 600; }

/* === TYPOGRAPHY === */
#realme-7-teasing * {
  font-family: "Gilroy", Arial, Helvetica, sans-serif; }

#realme-7-teasing .agula,
#realme-7-teasing .agula * {
  font-family: "Agula", Arial, Helvetica, sans-serif;
  font-weight: 400; }

#realme-7-teasing .gilroy,
#realme-7-teasing .gilroy * {
  font-family: "Gilroy", Arial, Helvetica, sans-serif; }

#realme-7-teasing .gemunu,
#realme-7-teasing .gemunu * {
  font-family: "Gemunu", "Agula", Helvetica, sans-serif;
  font-weight: 600; }

#realme-7-teasing .bold {
  font-weight: 600; }

h1,
h2,
h3,
h4 {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none; }

p {
  margin: 0; }

.white-txt,
.txt-white {
  color: #fff !important; }
  .white-txt *,
  .txt-white * {
    color: #fff !important; }

.blue-txt,
.txt-blue,
.text-blue,
.blue-text {
  color: #2459b7; }
  .blue-txt *,
  .txt-blue *,
  .text-blue *,
  .blue-text * {
    color: #2459b7; }

.light-blue-txt,
.txt-light-blue,
.text-light-blue,
.light-blue-text {
  color: #578fef; }
  .light-blue-txt *,
  .txt-light-blue *,
  .text-light-blue *,
  .light-blue-text * {
    color: #578fef; }

.txt-center,
.text-centeer {
  text-align: center; }

#realme-air-buds-pro-page {
  padding-top: 140px; }
  #realme-air-buds-pro-page .img-holder img,
  #realme-air-buds-pro-page .img-holder picture {
    display: block;
    width: 100%; }
  #realme-air-buds-pro-page .img-holder.bg-mode {
    overflow: hidden; }
    #realme-air-buds-pro-page .img-holder.bg-mode img,
    #realme-air-buds-pro-page .img-holder.bg-mode picture {
      height: 100%;
      object-fit: cover;
      object-position: center; }
  #realme-air-buds-pro-page .section {
    position: relative; }
    #realme-air-buds-pro-page .section .mold {
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5; }
      #realme-air-buds-pro-page .section .mold img,
      #realme-air-buds-pro-page .section .mold picture {
        display: block;
        width: 100%;
        height: 100%; }

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #555;
  padding: 2px;
  z-index: 15;
  visibility: hidden;
  opacity: 0;
  transition: all ease-out 300ms 50ms; }
  .video-modal.active {
    visibility: visible;
    opacity: 1; }
  .video-modal .close-video-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: #ffca12;
    width: 44px;
    height: 44px;
    line-height: 44px;
    display: block;
    color: #333;
    text-align: center;
    font-size: 23px;
    border-radius: 22px;
    cursor: pointer; }
    .video-modal .close-video-modal .fa {
      position: relative;
      top: -1px; }
  .video-modal .video-holder {
    position: relative;
    width: 100%;
    height: 100%; }

.custom-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 90px;
  z-index: 6;
  transition: all ease-out 0.3s;
  /* === RESPONSIVE === */ }
  .custom-header.menu-scroll {
    transform: translateY(-90px);
    transition: all ease-out 0.3s;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35); }
    .custom-header.menu-scroll .container {
      border-bottom: none; }
    .custom-header.menu-scroll .custom-menu-list .menu-item {
      color: #434343; }
  .custom-header .custom-menu-list {
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .custom-header .custom-menu-list .menu-item {
      font-weight: 600;
      font-size: 0.9rem;
      margin: 0 1.5rem;
      text-align: center;
      color: #578fef; }
      .custom-header .custom-menu-list .menu-item .indicator,
      .custom-header .custom-menu-list .menu-item a {
        transition: all ease-in 150ms; }
        .custom-header .custom-menu-list .menu-item .indicator.active,
        .custom-header .custom-menu-list .menu-item a.active {
          transition: all ease-out 150ms;
          color: #ffca12; }
        .custom-header .custom-menu-list .menu-item .indicator:hover,
        .custom-header .custom-menu-list .menu-item a:hover {
          transition: all ease-out 150ms;
          color: #ffca12; }
      .custom-header .custom-menu-list .menu-item.menu-cta {
        margin-right: 0; }
        .custom-header .custom-menu-list .menu-item.menu-cta .buynow-btn,
        .custom-header .custom-menu-list .menu-item.menu-cta button {
          padding: 0 1.25rem;
          background-color: #ffca12;
          line-height: 2.25;
          display: inline-block;
          border-radius: 0;
          outline: none;
          border: none;
          cursor: pointer; }
          .custom-header .custom-menu-list .menu-item.menu-cta .buynow-btn:hover,
          .custom-header .custom-menu-list .menu-item.menu-cta button:hover {
            color: #434343; }
  @media only screen and (max-width: 768px) {
    .custom-header {
      height: 50px;
      background-color: #fff;
      top: 60px; }
      .custom-header.menu-scroll {
        transform: translateY(-60px); }
      .custom-header .custom-menu-list {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 100%;
        display: none; }
        .custom-header .custom-menu-list .menu-item {
          position: relative;
          z-index: 2;
          height: 50px;
          line-height: 50px;
          text-align: left;
          width: 100%;
          padding: 0 15px;
          margin: 0;
          background-color: #fff; }
          .custom-header .custom-menu-list .menu-item.menu-cta {
            display: none; }
        .custom-header .custom-menu-list .menu-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: rgba(51, 51, 51, 0.25); }
      .custom-header .mobile-menu-content {
        width: 100%;
        display: flex !important;
        height: 50px;
        align-items: center;
        justify-content: space-between; }
        .custom-header .mobile-menu-content .menu-cta .buynow-btn {
          font-size: 0.9rem;
          padding: 0 1rem;
          font-weight: 600;
          background-color: #ffca12;
          line-height: 2.15;
          display: inline-block;
          border-radius: 3px; }
          .custom-header .mobile-menu-content .menu-cta .buynow-btn:hover {
            color: #434343; }
        .custom-header .mobile-menu-content .mb-menu-toggle {
          width: 40px;
          height: 40px;
          position: relative; }
          .custom-header .mobile-menu-content .mb-menu-toggle .fa {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            line-height: 40px;
            font-size: 24px;
            color: #434343; }
            .custom-header .mobile-menu-content .mb-menu-toggle .fa.fa-times {
              opacity: 0;
              transition: all ease-in 150ms;
              transform: rotate(-90deg); }
            .custom-header .mobile-menu-content .mb-menu-toggle .fa.fa-bars {
              opacity: 1;
              transition: all ease-out 200ms 100ms;
              transform: rotate(0); }
          .custom-header .mobile-menu-content .mb-menu-toggle.is-show-menu .fa.fa-times {
            opacity: 1;
            transition: all ease-out 200ms 100ms;
            transform: rotate(0); }
          .custom-header .mobile-menu-content .mb-menu-toggle.is-show-menu .fa.fa-bars {
            opacity: 0;
            transition: all ease-out 150ms;
            transform: rotate(90deg); } }

#realme-air-buds-pro-page {
  /* === RESPONSIVE === */
  /* === MOBILE === */ }
  #realme-air-buds-pro-page #section-banner {
    position: relative;
    color: #fff; }
    #realme-air-buds-pro-page #section-banner .bg-holder {
      width: 100%; }
    #realme-air-buds-pro-page #section-banner .effect-holder {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      #realme-air-buds-pro-page #section-banner .effect-holder .img-holder {
        position: absolute; }
      #realme-air-buds-pro-page #section-banner .effect-holder .case-holder {
        z-index: 1;
        width: 13.4%;
        top: 31%;
        left: 32.7%; }
      #realme-air-buds-pro-page #section-banner .effect-holder .left-bud-holder {
        z-index: 2;
        width: 5%;
        top: 10.7%;
        left: 38.5%; }
      #realme-air-buds-pro-page #section-banner .effect-holder .right-bud-holder {
        z-index: 2;
        width: 6%;
        top: 23%;
        left: 45%; }
    #realme-air-buds-pro-page #section-banner .main-content {
      position: absolute;
      z-index: 2;
      top: 30%;
      width: 17.9%;
      left: 54%;
      height: 24%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      #realme-air-buds-pro-page #section-banner .main-content .slogan-holder .product-slogan {
        font-weight: 400;
        line-height: 1; }
  @media only screen and (max-width: 1920px) {
    #realme-air-buds-pro-page #section-banner {
      width: 1920px;
      margin-left: calc((100% - 1920px) / 2); }
      #realme-air-buds-pro-page #section-banner .main-content .slogan-holder .product-slogan {
        font-size: 26px; } }
  @media only screen and (max-width: 1440px) {
    #realme-air-buds-pro-page #section-banner {
      width: 1680px;
      margin-left: calc((100% - 1680px) / 2); }
      #realme-air-buds-pro-page #section-banner .main-content .slogan-holder .product-slogan {
        font-size: 22px; } }
  @media only screen and (max-width: 768px) {
    #realme-air-buds-pro-page #section-banner {
      width: 100%;
      margin-left: 0; }
      #realme-air-buds-pro-page #section-banner .effect-holder .case-holder {
        width: 54.25%;
        top: 62.2%;
        left: 16.7%; }
      #realme-air-buds-pro-page #section-banner .effect-holder .left-bud-holder {
        width: 20.2%;
        top: 49.6%;
        left: 40.55%; }
      #realme-air-buds-pro-page #section-banner .effect-holder .right-bud-holder {
        width: 23.7%;
        top: 57.1%;
        left: 66.7%; }
      #realme-air-buds-pro-page #section-banner .main-content {
        top: 19.5%;
        width: 72.4%;
        left: 14%;
        height: 14.5%; }
        #realme-air-buds-pro-page #section-banner .main-content .slogan-holder .product-slogan {
          font-weight: 600;
          font-size: 48px;
          white-space: nowrap; } }
  @media only screen and (max-width: 480px) {
    #realme-air-buds-pro-page #section-banner .main-content .slogan-holder .product-slogan {
      font-size: 26px; } }
  @media only screen and (max-width: 376px) {
    #realme-air-buds-pro-page #section-banner .main-content .slogan-holder .product-slogan {
      font-size: 23px; } }

#realme-air-buds-pro-page {
  /* === RESPONSIVE === */
  /* === MOBILE === */ }
  #realme-air-buds-pro-page #section-features {
    background-color: #090909; }
    #realme-air-buds-pro-page #section-features .feature-container {
      padding: 180px 0; }
      #realme-air-buds-pro-page #section-features .feature-container .feature-layout {
        width: 1342px;
        height: 745px;
        display: grid;
        margin: auto;
        grid-gap: 10px;
        grid-template-columns: 1fr 1.25fr 1.25fr 1fr;
        grid-template-rows: 2.75fr 1fr 0.15fr 1fr 2.75fr; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-item {
          overflow: hidden;
          position: relative; }
          #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-item .feature-bg-effect {
            width: 100%;
            height: 100%; }
            #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-item .feature-bg-effect img,
            #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-item .feature-bg-effect picture {
              -webkit-transform: scale(1);
              transform: scale(1);
              transition: all ease-out 250ms; }
          #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-item .feature-content {
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            position: absolute;
            white-space: nowrap;
            top: 0;
            left: 0;
            width: 100%;
            padding: 25px; }
          #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-item:hover .feature-bg-effect img,
          #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-item:hover .feature-bg-effect picture {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            transition: all cubic-bezier(0.27, 0.85, 0.65, 0.99) 1200ms; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-quick-charge {
          grid-row: 1 / span 2;
          grid-column: 1; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-bass-boost {
          grid-row: 1 / span 1;
          grid-column: 2; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-bluetooth {
          grid-row: 1 / span 3;
          grid-column: 3; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-noise-canceling {
          grid-row: 1 / span 3;
          grid-column: 4; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-transparency-mode {
          grid-row: 3 / span 3;
          grid-column: 1; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-low-latency {
          grid-row: 2 / span 3;
          grid-column: 2; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-25-hours-music {
          grid-row: 5 / span 1;
          grid-column: 2; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-active-noise-canceling {
          grid-row: 4 / span 2;
          grid-column: 3 / span 2; }
  @media only screen and (max-width: 1440px) {
    #realme-air-buds-pro-page #section-features .feature-container {
      padding: 120px 0; }
      #realme-air-buds-pro-page #section-features .feature-container .feature-layout {
        width: 1200px;
        height: 667px; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-item .feature-content {
          font-size: 16px;
          padding: 23px; } }
  @media only screen and (max-width: 1280px) {
    #realme-air-buds-pro-page #section-features .feature-container {
      padding: 100px 0; }
      #realme-air-buds-pro-page #section-features .feature-container .feature-layout {
        width: 1080px;
        height: 600px; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-item .feature-content {
          font-size: 15px;
          padding: 20px; } }
  @media only screen and (max-width: 768px) {
    #realme-air-buds-pro-page #section-features .feature-container {
      padding: 10vw 6.66vw; }
      #realme-air-buds-pro-page #section-features .feature-container .feature-layout {
        width: 100%;
        height: 227.5vw;
        grid-gap: 3vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.875fr 1fr 0.875fr 1fr; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-item .feature-content {
          font-size: 18px;
          padding: 20px; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-quick-charge {
          grid-row: 1 / span 1;
          grid-column: 1; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-transparency-mode {
          grid-row: 1 / span 1;
          grid-column: 2; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-bass-boost {
          grid-row: 2 / span 1;
          grid-column: 1 / span 2; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-low-latency {
          grid-row: 3 / span 1;
          grid-column: 1; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-25-hours-music {
          grid-row: 3 / span 1;
          grid-column: 2; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-active-noise-canceling {
          grid-row: 4 / span 1;
          grid-column: 1 / span 2; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-bluetooth {
          grid-row: 5 / span 1;
          grid-column: 1; }
        #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-noise-canceling {
          grid-row: 5 / span 1;
          grid-column: 2; } }
  @media only screen and (max-width: 480px) {
    #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-item .feature-content {
      font-size: 12px;
      padding: 10px; } }
  @media only screen and (max-width: 376px) {
    #realme-air-buds-pro-page #section-features .feature-container .feature-layout .feature-item .feature-content {
      font-size: 10px;
      padding: 8px; } }
