#realme-air-buds-pro-page {
    // BLUETOOTH SECTION
    #section-bluetooth {
        background-color: #090909;
        // Main Content
        .main-content {
            position: absolute;
            top: 37%;
            left: 26.5%;
            z-index: 2;
        }
        // Effect Holder
        .effect-holder {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            // Common Image Holder
            .img-holder {
                position: absolute;
            }
            // Individual Elements Styling
            .earbuds-img {
                z-index: 3;
                width: 10%;
                left: 56.8%;
                top: 32%;
            }
            .decor-holder {
                z-index: 1;
                width: 14%;
                left: 54.7%;
                top: 33%;
                img {
                    opacity: 0;
                    &:nth-child(2),
                    &:nth-child(3) {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .circle-img-holder {
                z-index: 2;
                width: 19%;
                left: 52%;
                top: 25.8%;
                animation: rotating 4s infinite linear;
            }
            &.is-active {
                .decor-holder {
                    img {
                        -webkit-animation: waveEffect 3s linear infinite;
                        animation: waveEffect 3s linear infinite;
                        &:nth-child(2) {
                            -webkit-animation: waveEffect 3s 1s linear infinite;
                            animation: waveEffect 3s 1s linear infinite;
                        }
                        &:nth-child(3) {
                            -webkit-animation: waveEffect 3s 2s linear infinite;
                            animation: waveEffect 3s 2s linear infinite;
                        }
                    }
                }
            }
        }
    }
    /* === RESPONSIVE === */
    // 1920px and bellow
    @media #{$information-lg-screen} {
        #section-bluetooth {
            width: 1920px;
            margin-left: calc((100% - 1920px) / 2);
            // Main Content
            .main-content {
                .section-title {
                    margin-bottom: 10px;
                }
            }
        }
    }
    /* === MOBILE === */
    @media #{$information-tablet} {
        #section-bluetooth {
            height: 169vw;
            width: 100%;
            margin-left: 0;
            // Main Content
            .main-content {
                left: 0;
                width: 100%;
                padding: 0 6.65vw;
                top: 4%;
            }
            // Effect Holder
            .effect-holder {
                .earbuds-img {
                    width: 49%;
                    left: 25.8%;
                    top: 47.4%;
                }
                .circle-img-holder {
                    width: 87%;
                    left: 6%;
                    top: 42.8%;
                }
            }
        }
    }
}

@keyframes waveEffect {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        opacity: 0.25;
        -webkit-transform: scale(1.35);
        transform: scale(1.35);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@-webkit-keyframes waveEffect {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        opacity: 0.25;
        -webkit-transform: scale(1.35);
        transform: scale(1.35);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@-webkit-keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}