#realme-air-buds-pro-page {
    // Active Noise Canceling Section
    #section-actice-noise-canceling {
        background-color: #090909;
        width: 100%;
        // Main Conteent
        .main-content {
            position: absolute;
            top: 11.5%;
            left: 26.5%;
        }
        // Disclaimer-txt
        .disclaimer-txt {
            position: absolute;
            font-size: 18px;
            color: #717171;
            top: 85%;
            left: 26.5%;
        }
    }
    /* === RESPONSIVE === */
    // 1920px and bellow
    @media #{$information-lg-screen} {
        #section-actice-noise-canceling {
            width: 1920px;
            margin-left: calc((100% - 1920px) / 2);
            .disclaimer-txt {
                font-size: 16px;
            }
        }
    }
    /* === MOBILE === */
    @media #{$information-tablet} {
        #section-actice-noise-canceling {
            width: 100%;
            margin-left: 0;
            .main-content {
                top: 13%;
                left: 0;
                width: 100%;
                padding: 0 6.65vw;
            }
            .disclaimer-txt {
                font-size: 24px;
                width: 100%;
                left: 0;
                top: 89%;
                padding: 0 6.65vw;
            }
        }
    }
    @media #{$information-phone} {
        #section-actice-noise-canceling {
            .main-content {
                top: 13.5%;
                left: 0;
                width: 100%;
            }
            .disclaimer-txt {
                font-size: 14px;
            }
        }
    }
    @media #{$information-sm-phone} {
        #section-actice-noise-canceling {
            .main-content {
                top: 13.5%;
                left: 0;
                width: 100%;
            }
            .disclaimer-txt {
                font-size: 12px;
            }
        }
    }
}