#realme-air-buds-pro-page {
    #section-double-micro-noise-canceling {
        .main-content {
            position: absolute;
            top: 11.75%;
            left: 0;
            width: 100%;
            text-align: center;

            .section-title {
                margin-bottom: 13px;
            }
        }
    }
    /*=== RESPONSIVE === */
    // 1920px down to 768px
    @media #{$information-lg-screen} {
        #section-double-micro-noise-canceling {
            width: 1920px;
            margin-left: calc((100% - 1920px) / 2);
            // Main Content
            .main-content {
                .section-title {
                    margin-bottom: 10px;
                }
            }
        }
    }
    /* === MOBILE === */
    @media #{$information-tablet} {
        #section-double-micro-noise-canceling {
            width: 100%;
            margin-left: 0;
            // Main Content
            .main-content {
                text-align: left;
                padding: 0 6.65vw;
                top: 12.5%;
            }
        }
    }
}
