#realme-air-buds-pro-page {
    padding-top: 140px;
    .img-holder {
        img,
        picture {
            display: block;
            width: 100%;
        }
        &.bg-mode {
            overflow: hidden;
            img,
            picture {
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .section {
        position: relative;
        .mold {
            z-index: 10;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            img,
            picture {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}